{% extends "layout/base_clean.html" %}
{% load static %}

{% block title %}
  Вход в ЛК
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}



  <div class="d-flex flex-column flex-root" id="kt_app_root">
    <!--begin::Authentication - Sign-in -->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid">
      <!--begin::Body-->
      <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1">
        <!--begin::Form-->
        <div class="d-flex flex-center flex-column flex-lg-row-fluid">
          <!--begin::Wrapper-->
          <div class="w-lg-500px p-10">
            <!--begin::Form-->
            {% if user.is_authenticated %}
              <p>Вы уже выполнили вход. <a href="/accounts/logout">Выход</a></p>
            {% else %}
              {% for error in form.non_field_errors %}
                <span class="">{{ error }}</span>
              {% endfor %}

              <form method="post" class="form w-100" novalidate="novalidate" id="kt_sign_in_form" data-kt-redirect-url="" action="">
                {% csrf_token %}
                <!--begin::Heading-->
                <div class="text-center mb-11">
                  <!--begin::Title-->
                  <h1 class="text-gray-900 fw-bolder mb-3">Вход в ЛК</h1>
                  <!--end::Title-->
                  <!--begin::Subtitle-->
                  <div class="text-gray-500 fw-semibold fs-6">Личный кабинет пользователя</div>
                  <!--end::Subtitle=-->
                </div>
                <!--begin::Heading-->
                <!--begin::Login options-->

                <!--end::Login options-->

                <!--begin::Input group=-->
                <div class="fv-row mb-8">

                  <input type="text" placeholder="Логин" name="username" autocomplete="off"
                         class="form-control bg-transparent" value="{{ field.username.value }}"/>
                  {% for error in form.username.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                </div>
                <!--end::Input group=-->
                <div class="fv-row mb-3">
                  <!--begin::Password-->
                  <input type="password" placeholder="Пароль" name="password" autocomplete="off"
                         class="form-control bg-transparent"/>
                  <!--end::Password-->

                  {% for error in form.password.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                </div>
                <!--end::Input group=-->
                <!--begin::Wrapper-->
                <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
                  <div></div>
                </div>
                <!--end::Wrapper-->
                <!--begin::Submit button-->
                <div class="d-grid mb-10">
                  <button type="submit" id="kt_sign_in_submit" class="btn btn-primary">
                    <!--begin::Indicator label-->
                    <span class="indicator-label">Вход</span>
                    <!--end::Indicator label-->
                    <!--begin::Indicator progress-->
                    <span class="indicator-progress">Подождите...
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    <!--end::Indicator progress-->
                  </button>
                </div>
                <!--end::Submit button-->

              </form>
              <!--end::Form-->
            {% endif %}

          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Form-->
        <!--begin::Footer-->
        <div class="w-lg-500px d-flex flex-stack px-10 mx-auto">

        </div>
        <!--end::Footer-->
      </div>
      <!--end::Body-->
      <!--begin::Aside-->
      <div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2"
           style="background-image: url(/static/theme/assets/media/misc/auth-bg.png)">
        <!--begin::Content-->
        <div class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100">
          <!--begin::Logo-->
          <a href="index.html" class="mb-0 mb-lg-12">
            {#							<img alt="Logo" src="" class="h-60px h-lg-75px" />#}
          </a>
          <!--end::Logo-->
          <!--begin::Image-->
          <img class="d-none d-lg-block mx-auto w-275px w-md-50 w-xl-500px mb-10 mb-lg-20"
               src="/static/theme/assets/media/misc/auth-screens.png" alt=""/>
          <!--end::Image-->

        </div>
        <!--end::Content-->
      </div>
      <!--end::Aside-->
    </div>
    <!--end::Authentication - Sign-in-->
  </div>

{% endblock content %}